.avatar {
    text-align: center;
    >img {
        border-radius: 50%;
        margin-bottom: $base-spacing-unit;
        max-width: 200px;
    }
    h1 {
        font-family: $brand-font;
        font-weight: 200;
        margin-bottom: $base-spacing-unit;
    }
}

.avatar__info {
    h2, p {
        margin-bottom: 5px;
    }
}
