* {
    box-sizing: border-box;
}

body {
    padding: $typecsset-base-line-height;
    background: $white;
    color: $black;
    @include breakpoint($large) {
        padding: $typecsset-base-line-height 0;
    }
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
}
