/**
 * BASE
 */
* {
    box-sizing: border-box;
}

html, body {
    font-family: $body-font;
    font-weight: 200;
    font-style: normal;
    color: $black;
    @include breakpoint($retina) {
        font-size: $typecsset-base-font-size * 2.5;
    }
    @include breakpoint($large) {
        font-size: $typecsset-base-font-size;
    }
    @include breakpoint($retina-desktop) {
        font-size: $typecsset-base-font-size;
    }
}

body {
    background: $white; 
    color: $black;
    padding: 0 $base-spacing-unit * 2;
}

img {
    max-width: 100%;
}


/**
 * HEADER
 */
h1, h2, h3, 
h4, h5, h6 {
    font-family: $header-font; 
    font-weight: 400;
    font-style: normal;
}


/**
 * LINKS
 */
a {
    text-decoration: none;
    color: inherit;
    transition: color 200ms, border-bottom 200ms;
    &:hover,
    &.active {
        color: $brand-main;
    }
}

.text-link {
    border-bottom: 2px solid $black;
    &:hover {
        border-bottom: 3px solid $brand-main;
    }
}


hr {
    border: none;
    outline: none;
    height: 1px;
    background: $grey;
    margin-top: $typecsset-base-line-height;
    margin-bottom: $typecsset-base-line-height;
}

.rule--small {
    background: $black;
    width: 50px;
    margin-left: 0;
}

blockquote {
    border-left: 3px solid $black;
    margin: $base-spacing-unit*3 0;
    padding: 0 0 0 $base-spacing-unit * 2;
    text-indent: 0;
    font-style: italic;
    color: lighten($black, 30%);
}
