code {
    @include typecsset-font-size($typecsset-base-font-size * 0.7);
    font-family: Menlo, Monaco, Consolas, monospace;
    -webkit-text-size-adjust: none;
    background: #2d2d2d;
    border-radius: 3px;
    color: #D3D0C8;
    overflow-x: auto;
    padding: 4px 6px;

    @include breakpoint($retina) {
        @include typecsset-font-size($typecsset-base-font-size * 1.75);
    }

    @include breakpoint($retina-desktop) {
        @include typecsset-font-size($typecsset-base-font-size * 0.7);
    }
}

pre code {
    border-radius: 0;
    display: block;
    padding: $typecsset-base-line-height/2;
    @include typecsset-space(padding-left);
    @include typecsset-font-size($typecsset-base-font-size * 0.7, false);

    @include breakpoint($retina) {
        @include typecsset-font-size($typecsset-base-font-size * 1.75);
    }

    @include breakpoint($retina-desktop) {
        @include typecsset-font-size($typecsset-base-font-size * 0.7);
    }
}

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title, .hljs-comment {
  color: #999999;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #f2777a;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f99157;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #ffcc66;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #99cc99;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #66cccc;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title, .type {
  color: #6699cc;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #cc99cc;
}
