/**********
* Breakpoints
**********/
$large: ( min: 1000px );
$retina: ( retina: true );


/**********
* Typecsset
**********/
$typecsset-base-font-size: 20px;
$typecsset-base-line-height: 30px;
$typecsset-h1-size: 38px;
$typecsset-h2-size: 32px;
$typecsset-h3-size: 30px;
$typecsset-h4-size: 26px;
$typecsset-h5-size: 22px;
$typecsset-h6-size: 26px;


/**********
* Colors
**********/
$white: #f9f9f9;
$black: #4c4c4c;
$grey: #d9d9d9;
$brand-main: #ce6d7c;
$warning: #FFFBD3;
$success: #39ac52;
$error: #a53737;
$yellow: #faead4;


/*****
 * Spacing
 ****/
$base-spacing-unit: 10px;


/*****
 * Fonts
 ****/
$body-font: 'Chronicle Display A', 'Chronicle Display B';
$body-font-regular-weight: 200;
$body-font-bold-weight: 700;
$header-font: 'Landmark Regular A', 'Landmark Regular B';
$brand-font: 'Landmark Inline A', 'Landmark Inline B';
