/**********
* Colors
**********/
$white: #f9f9f9;
$black: #4c4c4c;
$grey: #d9d9d9;
$primary: #ce6d7c;


/**********
* Breakpoints
**********/
$large: ( min: 1000px );
$retina: ( retina: true );
$retina-desktop: 'retina-desktop';


/*******
 * Type
 ******/
$typecsset-base-font-size: 20px;
$typecsset-base-line-height: 30px;
$typecsset-h1-size: 60px;
$typecsset-h2-size: 45px;
$typecsset-h3-size: 37.5px;
$typecsset-h4-size: 30px;
$typecsset-h5-size: 25px;
$typecsset-h6-size: 22.5px;
$typecsset-show-baseline: false;

$primary-font: 'Chronicle Display A', 'Chronicle Display B';
$secondary-font: 'Landmark Regular A', 'Landmark Regular B';
$decorative-font: 'Landmark Inline A', 'Landmark Inline B';


/*******
 * Misc
 ******/
$content-width: 700px;
$max-width: 1100px;
