/**********
* SUSY
**********/
$susy: (
    columns: 12,
    global-box-sizing: border-box,
    gutters: 1/3
);


/**********
* Breakpoints
**********/
$large: ( min: 1000px );
$retina: ( retina: true );



/**********
* Typecsset
**********/
$typecsset-base-font-size: 16px;
$typecsset-base-line-height: 24px;



/**********
* Colors
**********/
$white: #f9f9f9;
$black: #333333;
$grey: #d9d9d9;
$brand-main: #ce6d7c;
$warning: #FFFBD3;
$success: #39ac52;
$error: #a53737;
$yellow: #faead4;


/*****
 * Spacing
 ****/
$base-spacing-unit: 10px;



/*****
 * Fonts
 ****/
$body-font: 'Chronicle Display A', 'Chronicle Display B';
$body-font-regular-weight: 200;
$body-font-bold-weight: 700;
$header-font: 'Landmark Regular A', 'Landmark Regular B';
$fun-font: 'Landmark Inline A', 'Landmark Inline B';
$fun-font-regular-weight: 400;

$small-font: $typecsset-base-font-size * .80;
$big-font: $typecsset-base-font-size * 1.3;



/*****
 * Navigation
 ****/
$nav-height: 50px;



/*****
 * Navigation
 ****/
$footer-height: 80px;



/*****
 * Animation
 ****/
$animation-speed: 300ms;



/*****
 * Round
 ****/
$round: 3px;
