/**********
* SUSY
**********/
$susy: (
    columns: 12,
    global-box-sizing: border-box,
    gutters: 1/3
);

/**********
* Breakpoints
**********/
$large: ( min: 1000px );
$retina: ( retina: true );



/**********
* Typecsset
**********/
$typecsset-base-font-size: 21px;
$typecsset-base-line-height: 31.5px;



/**********
* Colors
**********/
$white: #f9f9f9;
$black: #4c4c4c;
$grey: #d9d9d9;
$brand-main: #ce6d7c;
$warning: #FFFBD3;
$success: #39ac52;
$error: #a53737;
$yellow: #faead4;


/*****
 * Spacing
 ****/
$base-spacing-unit: 10px;



/*****
 * Fonts
 ****/
$body-font: 'Chronicle Display A', 'Chronicle Display B';
$body-font-regular-weight: 200;
$body-font-bold-weight: 700;
$header-font: 'Landmark Regular A', 'Landmark Regular B';
$fun-font: 'Landmark Inline A', 'Landmark Inline B';
$fun-font-regular-weight: 400;

$retina-font: $typecsset-base-font-size * 1.75;
$small-font: $typecsset-base-font-size * 0.7;
$small-retina-font: $retina-font * 0.7;
$mini-font: $typecsset-base-font-size * 0.5;
$mini-retina-font: $retina-font * 0.5;



/*****
 * Navigation
 ****/



/*****
 * Navigation
 ****/
$footer-height: 80px;



/*****
 * Animation
 ****/
$animation-speed: 300ms;



/*****
 * Round
 ****/
$round: 3px;
