body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text-wrapper {
    margin: 0 auto;
    max-width: 90%;
    @include breakpoint($large) {
        max-width: 700px;
    }
}


/**
 * POSTS
 */
.posts {
    text-align: center;
    h2 {
        margin-bottom: $base-spacing-unit/2;
    }
    >a {
        display: block;
        margin-bottom: $base-spacing-unit*2;
    }
}


/**
 * FOOTER
 */
$anim: 300ms;

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    padding: $base-spacing-unit * 2;
    &:before {
        transition: width $anim, background $anim;
        content: '';
        width: 100px;
        height: 1px;
        background: $grey;
        margin: 0 auto;
        display: block;
    }
    &:hover {
        &:before {
            background: $brand-main;
            width: 150px;
        }
    }
    .social {
        display: flex;
        flex: 1;
        padding: $base-spacing-unit * 2 0;
        width: 100%;
        @include breakpoint($large) {
            max-width: 200px;
        }
    }
    .social a {
        flex: 1;
        @include breakpoint($large) {
            display: inline-block;
        }
    }
}


/**
 * POST
 */
.post {
    header {
        text-align: center;
        h1 {
            font-family: $brand-font;
            margin-bottom: $base-spacing-unit/2;
        }
        .excerpt {
            @include breakpoint($large) {
                font-size: $typecsset-base-font-size * 1.2;
            }
            margin-bottom: $base-spacing-unit / 2;
        }
        em {
            @include breakpoint($large) {
                font-size: $typecsset-base-font-size * 0.80;
            }
        }
    }
}
