%wrapper {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($large) {
        @include typecsset-space(margin-left);
        max-width: $content-width;
    }
}

.posts,
nav {
    @include wrap($content-width);
}

.intro {
    @include wrap($max-width);
}

nav {
    @include typecsset-space(margin-bottom);

    .site-logo {
        border: none;
        img {
            border-radius: 50%;
            width: 60px;
            @include breakpoint($retina) {
                width: 200px;
            }
            @include breakpoint($retina-desktop) {
                width: 60px
            }
        }
    }
    
}

main {
    @include typecsset-space(margin-bottom);
}

footer {
    @extend %wrapper;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint($large) {
        justify-content: flex-start;
    }
    a {
        display: block;
        padding: $typecsset-base-line-height/2 0;
    }
    .site-logo {
        padding-right: $typecsset-base-line-height/2;
    }
    .social {
        display: flex;
        align-items: center;
        a {
            width: 100%;
            display: flex;
            padding: 0 $typecsset-base-line-height;
        }
    }
}


.post {
    header,
    article > *:not(pre) {
        @extend %wrapper;
    }
    // max-width: $max-width;
    // margin: 0 auto;
    header,
    p,
    h1, h2, h3, h4, h5, h6 {
    }

    header {
        margin-bottom: $typecsset-base-line-height;
    }
}


/*******
 * Home page override
 ******/
.home {
    nav {
    }
    
    .intro {
        @include typecsset-space(margin-bottom);
    }

    .posts {
        a {
            @include typecsset-space(margin-bottom);
            display: block;
        }
    }
}

.post-summary {
    > .header {
        margin-bottom: 0;
    }
    em,
    small {
        display: block;
        margin-bottom: $typecsset-base-line-height;
    }
}
