// Todo: let's make these not so stupid
@mixin breakpoint($size) {
    @if ($size == $large) {
        @media screen and (min-width: 1000px) {
            @content;
        }
    }

    @if ($size == $retina) {
        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            @content;
        }
    }

    @if ($size == $retina-desktop) {
        @media 
        (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 1000px), 
        (min-resolution: 192dpi) and (min-device-width: 1000px) { 
            @content;
        }
    }

}

@mixin wrap($width) {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($large) {
        @include typecsset-space(margin-left);
        max-width: $width;
    }
}
