nav {
    a { 
        display: block;
    }
    margin: $base-spacing-unit 0;
    padding: $base-spacing-unit;
    text-align: center;
}

.site-logo {
    &:before,
    &:after {
        color: $grey;
        display: inline-block;
        font-size: 1.5em;
        padding: 0 $base-spacing-unit;
        transition: color 300ms;
        vertical-align: top;
        @include breakpoint($large) {
            font-size: 2em;
        }
    }
    &:before {
        content: '\2329';
    }
    &:after {
        content: '\232A';
    }
    &:hover {
        &:before,
        &:after {
            color: $brand-main;
        }
    }
    img {
        max-width: 40px;
        min-width: auto;
        @include breakpoint($large) {
            max-width: 50px;
        }
    }
}
