.resume {
    section {
        @include wrap($content-width);
    }

    .contact-info {
        @include typecsset-space(margin-bottom);
        list-style: none;
        margin-left: 0;
        font-style: italic;
    }

    .experience {
        h3 {
            margin-bottom: $typecsset-base-line-height * 0.25;
        }
        @include typecsset-space(margin-bottom);
    }

    .experience__meta {
        display: flex;
        justify-content: space-between;
        strong,
        em {
            @include typecsset-font-size($typecsset-base-font-size * 0.8);
        }
    }

    .experience__group {
        margin-bottom: $typecsset-base-line-height;
    }

    .education {
        p {
            margin-bottom: 0;
        }
    }

    .loudr a {
        color: #00B1C6;
    }

    .say a {
        color: #DB122E;
    }
    
    .self a {
        color: $primary;
    }

}

