.intro a,
article a {
    transition: border 200ms, color 200ms;
    border-bottom: 2px solid $black;
    &:hover {
        border-bottom: 2px solid $primary;
        color: $primary;
    }
}

.post-summary {
    small {
        color: $primary;
    }
}

.post {
    header {
        border-bottom: 1px solid $grey;
    }
    
    img {
        box-shadow: 0px 0px 40px -15px $black;
    }
    figure {
        padding: $typecsset-base-line-height;
        figcaption {
            @include typecsset-font-size($typecsset-base-font-size * 0.8);
        }
    }
}



/*******
 * HOME
 ******/
.posts {
    h1 {
        font-size: $typecsset-h5-size;
        margin-bottom: 0;
        color: $grey;
        text-transform: uppercase;
    }
    a {
        > h2 {
            @include typecsset-font-size($typecsset-h3-size);
        }
        transition: color 200ms;
        &:after {
            content: "";
            display: block;
            width: 100px;
            height: 1px;
            background: $grey;
            transition: color 200ms, width 200ms;
        }
        &:hover {
            color: $primary;
            &:after {
                background: $primary;
                width: 120px;
            }
        }
    }
}


footer {
    border-top: 1px solid $grey;
    transition: border 200ms;
    &:hover {
        border-top: 1px solid $primary;
    }
    .site-logo {
        img {
            max-width: 35px;
        }
    }
}


.social {
    a {
        display: inline-block;
        height: 100%;
    }
    img {
        transition: opacity 200ms;
        opacity: 0.8;
        width: 20px;
        &:hover {
            opacity: 1;
        }
    }
}

blockquote {
    text-indent: 0;
    padding-left: $typecsset-base-line-height;
    border-left: 3px solid $grey;
    font-style: italic;
    color: lighten($black, 10%);
}


/*******
 * Nav
 ******/
nav {
    display: flex;
    align-items: center;
    .site-logo {
        img {
            transition: box-shadow 200ms;
        }
        padding-right: $typecsset-base-line-height/2;
    }
    .social {
        a {
            transition: transform 200ms, opacity 200ms;
            opacity: 0;
            transform: translateX(-20px);
            padding: 0 $typecsset-base-line-height/2;
            &:first-child {
                transition-delay: 50ms;
            }
            &:nth-child(2) {
                transition-delay: 100ms;
            }
            &:last-child {
                transition-delay: 150ms;
            }
        }
    }
    &:hover {
        .site-logo img {
            box-shadow: 
                0px 0px 0px 3px $white,
                0px 0px 0px 4px $primary;
        }
        .social a {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
