<section class="section">
    <article class="text-body">

        <h1 class="headline">Welcome.</h1>
        <p>Hello and welcome.  My name is Nick and I enjoy building web experiences that are functional, efficient, and classy.  I focus on simplicity and minimalism.  I'm a self-taught developer with a passion for learning new things.</p>

        <p>You can find some of work on the <a href="/projects">projects</a> page and you can read my various internet findings on my <a href="/blog">blog</a>.  Feel free to email me <a href="mailto:nicholaspball@gmail.com">here</a>.  I host some code at <a href="<%= NPB::Application.config.github_link %>">Github</a>.</p>

        <p>This site was built using:

            <ul>
                <li>Ruby on Rails</li>
                <li>Postgresql</li>
                <li>Intuit CSS Framework</li>
                <li>Bourbon Neat</li>
                <li>RequireJS</li>
                <li>Gulp</li>
                <li>Fonts from Hoefler & Frere Jones</li>
            </ul>

        </p>

        <p>Please have a look around and thank you for stopping by!</p>

         <a class="button <% if @available  %>big-success<% else %>big-error<% end %>" data-icon="" data-icon="">Email Me!*</a>
        <p class="footnote">
            <span class="swatch swatch--green">= Available!</span>
            <span class="swatch swatch--red">= Limited availability</span>
        </p>


    </article>
</section>
