<section class="section">
    <article class="text-body">

        <a class="button <% if @available  %>big-success<% else %>big-error<% end %>" data-icon="" data-icon="">Email Me!*</a>
        <p class="footnote">
            <span class="swatch swatch--green">= Available!</span>
            <span class="swatch swatch--red">= Limited availability</span>
        </p>

        <h1 class="headline">Welcome.</h1>
        <p>My name is Nick and I enjoy building web experiences that are beautiful, functional, and efficient.  I focus on speed, simplicity, and responsive design.  I love clean code, crisp typography, and intuitive interfaces.</p>

        <p>You can find some of work on the <a href="/work">work</a> page.  You can see some of my experiments in the <a href="/lab">labs</a>, and you can read my various internet findings on my <a href="/blog">blog</a>.  Feel free to email me <a href="mailto:nicholaspball@gmail.com">here</a>.  I host some code at <a href="https://github.com/ginja-ninja/">Github</a>.</p>

        <p>This site was built with:

            <ul>
                <li>HTML5</li>
                <li>Intuit CSS Framework</li>
                <li>RequireJS</li>
                <li>Grunt</li>
                <li>Jekyll</li>
                <li>Fonts from Hoefler & Frere Jones</li>
            </ul>

        </p>

        <p>Please have a look around and thank you for stopping by!</p>

    </article>
</section>
