  <header>
    <div>
      <h1>Nicholas Ball</h1>
      <p class="italic">Web Developer / Humble Learner</p>
    </div>
    <div>
      test
    </div>
  </header>

  <section>
    <h2>Cover Letter</h2>
      <p>Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
  
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</p>

      <p>Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
  </section>

  <section>
    <h2>Work Experience</h2>
    <div class="experience">
      <div class="experience__title">
        <h3>Say media</h3>
        <p class="italic">Senior Ad Operator</p>
      </div>
      <div class="experience__dates">
        <p>Aug. 2008 - December 2014</p>
      </div>

      <h4>Description</h4>
      <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>

      <h4>Highlights</h4>
      <ul>
        <li>Thing one</li>
        <li>Thing two</li>
        <li>Thing three</li>
      </ul>
    </div>

    <div class="experience">
     <div class="experience__title">
        <h3>Self Employed</h3>
        <p class="italic">Freelance Web Developer</p>
      </div>
      <div class="experience__dates">
        <p>2010 - Present</p>
      </div>

       <h4>Description</h4>
      <p>Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod.</p>

      <h4>Highlights</h4>
      <ul>
        <li>Thing one</li>
        <li>Thing two</li>
        <li>Thing three</li>
      </ul>

    </div>

  </section>

  <section>
    <h2>Education</h2>
    <h3>Bachelor of Science, University of California, San Diego</h3>
    <p>Major GPA 3.5</p>
  </section>

  <footer>
    <p>Nicholas Ball</p>
    <p>nicholaspball@gmail.com</p>
    <p>209.380.5272</p>
  </footer>

