/*------------------------------------*\
$RESUME
\*------------------------------------*/
$white: #f9f9f9;
$logo-size: 80px;

.resume {
    background: $white;
    padding: 30px;
    height: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Chronicle Display A', 'Chronicle Display B'; font-weight: 400; font-style: normal;
    /*font-size: 1.5em;*/
    /*font-size: 1.5rem;*/
}

.resume {
    h1, h2, h3, h4, h5, h6,
    .alpha, .beta, .gamma, .delta {
        font-family: 'Chronicle Display A', 'Chronicle Display B'; font-weight: 700; font-style: normal;
    }

    .italic {
        font-family: inherit;
    }

    .milli {
        font-size: 1em;
        font-size: 1rem;
    }


    .wrapper {
        max-width: 960px;
    }

    .content {
        margin-top: auto;
    }

    section {
        margin-bottom: $base-spacing-unit*4;
        p {
            @include breakpoint($large) {
                text-align: justify;
            }
        }
    }

    section:first-child {
        /*border-bottom: 1px solid $grey;*/
        h1 {
            font-size: $retina-font * 1.5;
        }
    }
    section:first-child,
    footer {
        h1 {
            margin-bottom: 0;
        }
        ul {
            margin: 0;
            list-style: none;
            font-style: italic;
            li {
                font-size: 0.8em;
                a {
                    display: block;
                    padding: $base-spacing-unit*.75 0;
                    @include breakpoint($large) {
                        display: inline;
                        padding: auto;
                    }
                }
                @include breakpoint($large) {
                    display: inline-block;
                    vertical-align: middle;
                    &:after {
                        font-style: normal;
                        content: "\2666";
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 $base-spacing-unit/2;
                    }
                    &:last-child:after {
                        content: "";
                    }
                }
            }
        }
    }
    footer {
        border-top: 1px solid $grey;
        padding: $base-spacing-unit 0;
        &:before {
            display: none;
        }
        h1, ul {
            @include breakpoint($large) {
                display:inline-block;
            }
        }
        ul {
            font-size: 1.1em;
            font-size: 1.1rem;
        }
        h1 {
            font-size: 1.4em;
            font-size: 1.4rem;
            margin-right: $base-spacing-unit;
            margin-bottom: $base-spacing-unit*.75;
        }
    }

    .experience {
        .experience__meta {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: $typecsset-base-line-height;
            justify-content: space-between;
            @include breakpoint($large) {
                flex-direction: row;
            }
        }

        .company-logo {
            align-items: center;
            display: flex;
            justify-content: space-between;
            img,
            span {
                flex: 1;
            }
            img {
                max-width: $logo-size;
                max-height: $logo-size;
                order: 2;
                @include breakpoint($large) {
                    width: auto;
                    height: auto;
                    order: 1;
                }
            }
            span {
                order: 1;
                @include breakpoint($large) {
                    margin-left: $base-spacing-unit;
                    order: 2;
                }
            }
        }

        .experience__second,
        .experience__first {
            flex: 1;
            width: 100%;
        }

        .experience__second {
            display: flex;
            align-items: center;
            flex-direction: column;
            p {
                align-self: flex-start;
                flex: 1;
                align-content: center;
                margin-bottom: 0;
                text-align: right;
                &:first-child {
                    text-align: left;
                    @include breakpoint($large) {
                        text-align: right;
                    }
                }
                @include breakpoint($large) {
                    align-self: flex-end;
                    text-align: right;
                }
            }
        }
    }


    .no-margin-bottom {
        margin-bottom: 0;
    }
}
