{% macro Link(text, href) %}
<a
   href="{{ href }}"
   style="--tw-text-opacity: 0.8"
   class="{{ 'text-primary-900 border-b-2 border-primary-900' if href in page.url }} text-primary-700 text-xs md:text-xs uppercase tracking-wider font-semibold hover:no-underline hover:text-primary-600 active:text-primary-900"
  >{{ text }}
</a>
{% endmacro %}

<header class="ctr py-6 flex justify-between items-center">
  <a href="/" class="flex items-center hover:text-primary-600 trans flex gap-3">
    <img
      style="filter: sepia(0.5)"
      class="rounded-full w-12"
      src="/static/images/avatar.jpeg"
      alt="Photo of Nick Ball"
    />
    <span class="text-sm font-medium">Nick Ball</span>
  </a>
  <nav class="flex gap-4">
    {{ Link("About", "/about") }}
    {{ Link("Posts", "/posts") }}
  </nav>
</header>

