{%- if not description %}
{% set description = "Web Developer based in San Francisco, CA" %}
{% endif %}

{% set url = "https://npbee.me" + page.url %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}" />

  <!-- Google / Search Engine Tags -->
  <meta itemProp="image" content="https://npbee.me/static/images/avatar.jpeg" />
  <meta itemProp="name" content="{{title}}" />
  <meta itemProp="description" content="{{description}}" />

  <!-- Facebook Meta Tags -->
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://npbee.me/static/images/avatar.jpeg" />
  <meta property="og:url" content="{{url}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://npbee.me/static/images/avatar.jpeg" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />
  <meta name="twitter:creator" content="@npbeep" />
