@keyframes slide-in-from-left {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
        z-index: 1;
    }
}


@keyframes slide-out-to-left {
    0% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
        z-index: -1;
    }
}


@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translate3d(0, 0%, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        z-index: -1;
    }
}


@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        z-index: -1;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0%, 0);
    }
}



@keyframes slide-in-from-right {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
        z-index: 1;
    }
}


@keyframes slide-out-to-right {
    0% {
        opacity: 1;
        transform: translate3d(0%, 0, 0);
    }
    95% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0%, 0, 0);
        z-index: -1;
    }
}



/*
* REACT ANIMATIONS
******************************/
.fade-enter {
    max-height: 0;
    opacity: 0;
    transition: opacity $animation-speed, max-heigh $animation-speed;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    max-height: 500px;
}

.fade-leave {
    max-height: 500px;
    opacity: 1;
    transition: opacity $animation-speed, max-heigh $animation-speed;
}

.fade-leave.fade-leave-active {
    max-height: 0;
    opacity: 0;
}


/******************************
* Animation delay repeater
******************************/
@mixin animation-repeater($count, $animation-name, $animation-speed, $step,
$fill-mode: none, $reverse: false) {
    @for $i from 1 through $count {
        &:nth-child(#{$i}) {
            animation-name: $animation-name;
            animation-duration: $animation-speed;
            animation-delay: ($step * $i + ms); 
            animation-fill-mode: $fill-mode;
        }
    }
}
