/******************************
* $NAVIGATION
******************************/
$nav-height: 130px;

.main-nav {
    align-items: center;
    display: flex;
    height: $nav-height;
    justify-content: flex-start;
    padding: 0 $typecsset-base-line-height;
    /*@include breakpoint($retina) {*/
        /*height: $nav-height * 4;*/
    /*}*/
    @include breakpoint($large) {
        /*font-size: $typecsset-base-font-size;*/
        height: $nav-height;
    }
    a {
        padding-left: $base-spacing-unit;
        padding-right: $base-spacing-unit;
        text-align: left;
        width: auto;
    }
    .site-logo {
        display: block;
        /*z-index: 2;*/
        img {
            align-self: flex-start;
            @include breakpoint($large) {
                width: 35px;
            }
        }
        @include breakpoint($large) {
            display: inline;
            /*line-height: $nav-height * 2;*/
            order: 0;
            padding-right: $base-spacing-unit;
            padding-left: 0;
            width: auto;
        }
    }
}




.main-nav__break-right {
    @include breakpoint($large) {
        margin-left: auto;
    }
}


.main-nav__menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-size: inherit;
    opacity: 1;
    position: static;
    width: auto;
    @include breakpoint($large) {
        justify-content: flex-start;
    }
    > a {
        border: none;
        display: inline;
        font-size: $typecsset-base-font-size;
        opacity: 1;
        padding-left: $base-spacing-unit*3;
        width: auto;
        @include breakpoint($large) {
            padding: 0 $base-spacing-unit;
        }
    }
}

.main-nav__social {
    display: none;
    @include breakpoint($large) {
        animation: none;
        display: block;
        opacity: 1;
        width: auto;
        > a {
            text-align: center;
            display: inline-block;
            width: auto;
        }
    }
}
