---
import BaseLayout from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";

let allBlogPosts = await getCollection("blog");
---

<BaseLayout
  title="Posts | Nick Ball"
  description="Posts by Nick Ball, Software developer based in Portland, OR."
>
  <main class="space-y-4">
    <h1 class="text-light font-semibold">Posts</h1>
    <PostList posts={allBlogPosts} />
  </main>
</BaseLayout>
