---
layout: default
title: Nick Ball
description: Web developer based in Portland, OR.
path: "/"
---

{% macro JobLink(url, text) %}
<a
  target="_blank"
  rel="noopener noreferrer nofollow"
  href="{{ url }}"
  class="font-medium"
>
{{text}}
</a>
{% endmacro %}

{% macro Post(item) %}
<li class="mb-4">
  <a class="text-lg md:text-xl" href="{{ item.url }}">
    {{ item.data.title }}
  </a>
  <time value="{{ item.date }}" class="text-sm block">{{ item.date | readableDate }}</time>
</li>
{% endmacro %}

{% macro H2(text) %}
<h2
  class="text-gray-700 mb-2 uppercase text-xs md:text-sm font-semibold tracking-wider"
  >{{ text }}</h2>
{% endmacro %}

<section class="md:mt-48">
  {% H1 %}
  Hi, my name is <strong>Nick Ball</strong>.
  {% endH1 %}
  {% SummaryText %}
    I'm a frontend developer based out of Portland, Oregon. I work at {{ JobLink("http://dropbox.com", "Dropbox") }} as a software engineer
    building the {{ JobLink("https://helloworks.com", "HelloWorks") }} web 
    application.
  {% endSummaryText %}
</section>
