/*------------------------------------*\
    $HOME SECTIONS STYLES
\*------------------------------------*/
.homepage {
    .site-logo {
      display: block;
      text-align: center;
    }
    .site-logo img {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
    .site-logo--big {
        height:100px;
        @include media-query(desk) {
            display: block;
            height: 500px;
        }
    }
}

.home {
    margin-bottom: 0;
}

.tagline {
    //@extend .headline;
    font-size: $h2-size;
    text-align: center;
    @include media-query(desk) {
        font-size: $mega-size;
    }
}
