/*------------------------------------*\
    $LOGO
\*------------------------------------*/

.site-logo--big {

}


.site-logo--small {
    vertical-align: middle;
    width: 50px;
    height: auto;
    margin-right: 3px;
 }
