/*------------------------------------*\
    $LOGO
\*------------------------------------*/

.site-logo--big {

}


.site-logo--small {
    vertical-align: middle;
    width: 120px;
    height: auto;
}
