/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

//Font Face
@include font-face(icons, '/assets/fonts/icons/icomoon');

[data-icon]:before {
    font-family: 'icons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



a:not(.button) {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $brand-main;
    }
}



/****
* Headers
****/
.giga,
.mega,
.kilo,
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6 {
    font-family: 'Landmark Regular A', 'Landmark Regular B';
    font-weight: 400;
    font-style: normal;
}



/****
* Small Headers
****/
.small-header {
    @extend .bold;
    font-size: $h4-size;
    margin-bottom: 5px;
    text-transform: uppercase;
}



/****
* Headlines
****/
.headline {
    font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
    font-weight: 400;
    font-style: normal;
    font-size: $h1-size;
    text-align: center;
    display: block;
    line-height: 1;
    @include media-query(desk) {
        font-size: $giga-size;
    }
}

/****
* Sub headlines
****/
.sub-headline {
  @extend .italic;
  font-size: $h2-size;
  text-align: center;
  &:before,
  &:after {
    content: "-";
    display: inline-block;
    vertical-align: middle;
  }
}


/****
* For long bodies of text
****/
.text-body {
    max-width: 700px;
    margin: 0 auto $base-spacing-unit;
    font-size: $base-font-size*1.3;
    p {
        //text-align: justify;
        &:first-of-type {
            &:first-letter {
                @extend .headline;
                font-size: $mega-size;
                float: left;
                padding-right: $base-spacing-unit/2;
                margin-bottom: $base-spacing-unit/2;
            }
        }
        &:nth-of-type(2) {
            clear: left;
        }
    }
    .lead-in {
        @extend .headline;
        font-size: $h1-size;
        float: left;
        padding-right: $base-spacing-unit/2;
    }
    a:not(.button) {
        border-bottom: 2px solid lighten($black, 20%);
        &:hover {
            border-bottom: 3px solid $brand-main;
        }
    }
}


/***
 * For skinny-width sections, similar to text-body
***/
.skinny {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}



/****
* Footnotes
* <p class='footnote'></p>
****/
.footnote {
    font-size: $milli-size;
    &:before {
        content: "*";
        display: inline-block;
        padding-right: 5px;
    }
}



/****
* Font helpers
****/
.italic {
    font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 300; font-style: italic;
}


.bold {
    font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 600; font-style: normal;
}



/****
* Text selection
****/
::selection {
    background: $brand-main;
}

::-moz-selection {
    background: $brand-main;
}
