@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBMPlexSans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "IBMPlexSans";
    font-weight: 600;
    src: url("/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf") format("truetype");
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply overflow-x-hidden bg-gray-1 font-sans dark:bg-gray-dark-2;
    font-family: IBMPlexSans, serif;
  }

  a {
    @apply text-accent-12 underline-offset-2 dark:text-accent-dark-10;
    font-weight: 500;
    text-decoration: underline;
  }

  a:hover {
    @apply text-accent-10 dark:text-accent-dark-12;
  }

  a:active {
    @apply text-accent-12 dark:text-accent-dark-11;
  }

  strong {
    font-weight: 600;
  }
}

@layer utilities {
  .font-special {
    font-family: var(--font-special);
  }

  .text {
    @apply text-gray-12 dark:text-gray-dark-12;
  }

  .text-light {
    @apply text-gray-11 dark:text-gray-dark-11;
  }

  .text-accent {
    @apply text-accent-10 dark:text-accent-dark-10;
  }

  .full-width {
    width: 100%;
    grid-column: 1/ -1;
  }

  .full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
