@tailwind base;

html,
body,
#__next {
  height: 100%;
}

body {
  background-color: #ffffff;
  background-image: url("/static/images/light-wool.png");
}

strong {
  font-weight: 600;
}

a {
  @apply text-primary-700;
  transition-duration: 200ms;
  transition-property: color;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: theme("colors.primary.400");
}

.font-avenir {
  font-family: avenir next, avenir, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.post article {
  display: grid;
  grid-template-columns: min(65ch, 100%) 1fr;
}

.post article > * {
  grid-column: 1;
}

.post .full-bleed,
.post pre {
  width: 100%;
  grid-column: 1 / -1;
}

.post h1 {
  font-size: theme("fontSize.xl");
  line-height: 1.5;
  color: theme("colors.primary.600");
  letter-spacing: theme("letterSpacing.wide");
  margin-bottom: theme("spacing.3");
}

@screen md {
  .post h1 {
    font-size: theme("fontSize.3xl");
  }
}

.post h2 {
  font-size: theme("fontSize.lg");
  color: theme("colors.primary.500");
  margin-bottom: theme("spacing.2");
  margin-top: theme("spacing.8");
  font-weight: 500;
  letter-spacing: theme("letterSpacing.wider");
}

@screen md {
  .post h2 {
    font-size: theme("fontSize.2xl");
  }
}

.post h3 {
  font-size: theme("fontSize.lg");
  color: theme("colors.primary.500");
  margin-bottom: theme("spacing.2");
  margin-top: theme("spacing.8");
  font-weight: 500;
  letter-spacing: theme("letterSpacing.wider");
}

.post img {
  border: 1px solid theme("colors.gray.100");
  border-radius: theme("borderRadius.DEFAULT");
  box-shadow: theme("boxShadow.lg");
}

.post p,
.post li {
  margin-bottom: theme("spacing.4");
  line-height: theme("lineHeight.relaxed");
}

.post ul {
  list-style: disc;
  padding-left: theme("spacing.8");
}

.post code {
  font-size: theme("fontSize.xs");
  background-color: theme("colors.gray.700");
  background-color: #faf8f5;
  color: #3e61a8;
  padding: theme("spacing.1");
  border-radius: theme("borderRadius.DEFAULT");
}

.post figcaption {
  font-size: theme("fontSize.sm");
  margin-bottom: theme("spacing.8");
  margin-top: calc(theme("spacing.4") * -1);
  text-align: center;
}

@tailwind components;
@tailwind utilities;

.debug {
  outline: 1px dotted mediumvioletred;
}

.trans {
  transition: all 200ms;
}

.ctr {
  padding-left: theme("spacing.6");
  padding-right: theme("spacing.6");
}

.display-font {
  font-family: "Bitter", serif;
}

@screen md {
  .ctr {
    padding-left: theme("spacing.12");
    padding-right: theme("spacing.12");
  }
}

/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2e3440;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636f88;
}

.token.punctuation {
  color: #81a1c1;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #81a1c1;
}

.token.number {
  color: #b48ead;
}

.token.boolean {
  color: #81a1c1;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a3be8c;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #81a1c1;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #88c0d0;
}

.token.keyword {
  color: #81a1c1;
}

.token.regex,
.token.important {
  color: #ebcb8b;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/**
 * BEGIN CODE OVERRIDES
 */
code[class*="language-"],
pre[class*="language-"] {
  padding: theme("spacing.3");
  font-size: theme("fontSize.sm");
  margin-top: 0;
  margin-bottom: theme("spacing.4");
}

code[class*="language-"] {
  padding: 0;
}
