<div class="flash flash--explanation" data-icon="">
  <strong class="gamma"><%= pluralize(item.errors.count, "error") %> prohibited this post from being saved:</strong>
  <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
</div>
