<div class="footer-container">

    <div class="footer">
        <a class="footer__copyright italic" href="/">&copy; npb, 2014</a>
        <ul>
            <li>
                <a class="work-nav tooltip" href="/projects" data-icon="">
                    <span class="tooltip-tip">Projects</span>
                </a>
            </li>
            <li>
                <a class="blog-nav tooltip" href="/blog" data-icon="">
                    <span class="tooltip-tip">Blog</span>
                </a>
            </li>
            <!--<li>
                <a class="lab-nav tooltip" href="/lab" data-icon="">
                    <span class="tooltip-tip">Lab</span>
                </a>
            </li>-->
            <li>
                <a class="connect-nav tooltip" href="/connect" data-icon="">
                    <span class="tooltip-tip">Connect</span>
                </a>
            </li>
            <li class="">
            <a class="tooltip" href="<%= NPB::Application.config.github_link %>" data-icon="">
                    <span class="tooltip-tip">Github</span>
                </a>
            </li>
            <li class="">
            <a class="tooltip" data-icon="" href="mailto:<%= NPB::Application.config.email %>">
                    <span class="tooltip-tip">Email</span>
                </a>
            </li>
        </ul>
    </div>

</div>

<script src="/assets/js/main-build.js"></script> 

<% if logged_in? %>
  <script src="/assets/js/admin-build.js"></script>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46265154-1', 'auto');
  ga('send', 'pageview');

</script>
