---
import Avatar from "../components/Avatar.astro";
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout
  title="Nick Ball | About"
  description="About Nick Ball, Software developer based in Portland, OR"
  size="full"
>
  <div class="text prose dark:prose-invert">
    <Avatar />
    <h1 class="text font-semibold">About me</h1>
    <p class="text">
      I'm a software developer based out of Portland, Oregon. I currently work
      at <strong>Dropbox</strong> as a software engineer building the Forms web application.
    </p>

    <p>
      I work heavily with technologies like <strong>React</strong> and <strong
        >TypeScript</strong
      >. I also enjoy building with <strong>Svelte</strong> and <strong
        >Astro</strong
      > and have experience with <strong>GraphQL</strong>, <strong
        >Elixir</strong
      >, and <strong>Phoenix</strong>. I'm particularly interested in
      component-driven architecture, testing, and developer tooling. I love
      focusing on small details to get the user experience just right.
    </p>
    <p>In the past I've built things such as:</p>
    <ul class="my-0">
      <li>Drag-and-drop heavy interfaces with <strong>React</strong></li>
      <li>Rich text editors with <strong>Prosemirror</strong></li>
      <li>
        Component libraries with <strong>React</strong> and <strong>CSS</strong>
      </li>
      <li>
        Build and test pipelines with <strong>Webpack</strong> and <strong
          >continuous integration</strong
        >
      </li>
      <li>Interactive flow charts</li>
      <li>Undo / redo implementations</li>
    </ul>
    <p>
      I was previously at
      <a
        href="https://loudr.fm/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="font-medium">Loudr</a
      > (acquired by Spotify). I have a B.S. in Management Science from UC San Diego.
    </p>
    <h2>Find me</h2>
    <ul>
      <li><a href="https://github.com/npbee">GitHub</a></li>
      <li><a href="https://twitter.com/_nickball">Twitter</a></li>
      <li><a href="https://bsky.app/profile/npbee.bsky.social">Bluesky</a></li> 
      <li><a href="www.linkedin.com/in/niball">LinkedIn</a></li>


    </ul>
  </div>
</BaseLayout>
