---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import Intro from "../components/Intro.astro";
import PageHeading from "../components/PageHeading.astro";
import PostList from "../components/PostList.astro";
import ProjectList from "../components/ProjectList.astro";

let allBlogPosts = await getCollection("blog");
let projects = await getCollection("projects");
---

<BaseLayout
  title="Nick Ball"
  description="Web developer based in Portland, OR."
>
  <div class="space-y-16">
    <Intro />

    <hr class="h-px w-4 border-none bg-gray-10" />

    <section class="space-y-2">
      <PageHeading href="/projects"><h2>Projects</h2></PageHeading>
      <ProjectList projects={projects} />
    </section>

    <section class="space-y-4">
      <PageHeading href="/posts">Posts</PageHeading>
      <div class="space-y-8">
        <PostList posts={allBlogPosts} />
      </div>
    </section>
  </div>
</BaseLayout>
