---
import { getCollection } from "astro:content";
import ProjectPreview from "../components/ProjectPreview.astro";
import BaseLayout from "../layouts/Base.astro";

let projects = await getCollection("projects");
---

<BaseLayout
  title="Posts | Nick Ball"
  description="Projects by Nick Ball, Web developer based in Portland, OR."
>
  <main class="space-y-4">
    <h1 class="text-light font-semibold">Projects</h1>
    <div class="space-y-8">
      {projects.map((project) => <ProjectPreview {project} />)}
    </div>
  </main>
</BaseLayout>
