---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/Base.astro";
import ProjectList from "../components/ProjectList.astro";

let projects = await getCollection("projects");
---

<BaseLayout
  title="Posts | Nick Ball"
  description="Projects by Nick Ball, Software developer based in Portland, OR."
>
  <main class="space-y-4">
    <h1 class="text-light font-semibold">Projects</h1>
    <ProjectList projects={projects} />
  </main>
</BaseLayout>
