body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*padding: $base-spacing-unit $typecsset-base-line-height;*/
}



main {
    @include container;
    flex: 1;
    min-height: 100%;
    width: 100%;
    nav {
        @include breakpoint($large) {
        }
    }

    nav + section {
        @include breakpoint($large) {
        }
    }

}


/******************************
* LAYOUT OVERRIDES
******************************/
.small-margin-bottom {
    margin-bottom: $base-spacing-unit;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.left-align {
    margin-left: 0;
}

.center {
    text-align: center;
}

.spacer {
    margin-bottom: $typecsset-base-line-height;
}

.full-width {
    max-width: none !important;
    width: 100%;
}
