<section class="section">
    <article>
        <div class="page-nav">
          <% @tags.each do |tag| %>
            <a class="blog__excerpt" href="/tags/<%= tag.name %>">
              <h2 class="tag-meta"><%= tag.name %></h2>
            </a>
          <% end %>
        </div>
    </article>
</section>

