html, body {
    font-family: $body-font;
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, 
h4, h5, h6 {
    font-family: $header-font; 
    font-weight: 400;
    font-style: normal;
}



a:not(.button) {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $brand-main;
    }
}



.rule {
    border: none;
    outline: none;
    height: 1px;
    background: $grey;
    /*margin: $typecsset-base-line-height 0;*/
    @include typecsset-space(margin-top);
    @include typecsset-space(margin-bottom);
}

    .rule--small {
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }



/******************************
* ICONS
******************************/
.icon {
    width: 70px;
    @include breakpoint($large) {
        max-width: 20px;
        vertical-align: middle;
    }
    @include breakpoint($retina) {
        width: 100px;
    }
}
