* {
    box-sizing: border-box;
}

html, body {
    font-family: $body-font;
    font-weight: 200;
    font-style: normal;
    color: $black;
    @include breakpoint($retina) {
        font-size: $retina-font;
    }
    @include breakpoint($large) {
        font-size: $typecsset-base-font-size;
    }
}

h1, h2, h3, 
h4, h5, h6 {
    font-family: $header-font; 
    font-weight: 400;
    font-style: normal;
}



/*
* $LINKS
******************************/

.post nav a[href="/posts"],
.connect nav a[href="/connect"] {
    color: $brand-main;
}

a {

    text-decoration: none;
    color: inherit;
    transition: color 200ms, border-bottom 200ms;
    &:hover,
    &.active {
        color: $brand-main;
    }
}

article a {
    border-bottom: 1px solid $black;
    &:hover {
        border-bottom: 1px solid $brand-main;
    }
}

.block-link {
    display: block;
}

.standout-link {
    border-bottom: 2px solid $black;
    &:hover {
        border-bottom: 3px solid $brand-main;
    }
}



.rule {
    border: none;
    outline: none;
    height: 1px;
    background: $grey;
    /*margin: $typecsset-base-line-height 0;*/
    margin-top: $typecsset-base-line-height;
    margin-bottom: $typecsset-base-line-height;
}

    .rule--small {
        background: $grey;
        border: none;
        height: 1px;
        margin: $typecsset-base-line-height auto;
        outline: none;
        width: 100px;
    }



/******************************
* ICONS
******************************/
.icon {
    width: 55px;
    vertical-align: middle;
    @include breakpoint($retina) {
        /*width: 100px;*/
    }
    @include breakpoint($large) {
        width: 25px;
    }
}



/******************************
* FONT OVERRIDES
******************************/
.fun-font {
    font-family: $fun-font;
    font-weight: $fun-font-regular-weight;
}

.giga {
    @include typecsset-font-size($typecsset-base-font-size * 2);
    word-wrap: break-word;
    @include breakpoint($large) {
        @include typecsset-font-size($typecsset-base-font-size * 4);
    }
}

.mega {
    @include typecsset-font-size($typecsset-base-font-size * 2);
}

.muted {
    color: lighten($black, 15%);
}

.italic {
    font-style: italic;
}


