html, body {
    font-family: $body-font;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, 
h4, h5, h6 {
    font-family: $header-font; 
    font-weight: 400;
    font-style: normal;
}



a:not(.button) {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $brand-main;
    }
}
