* {
    box-sizing: border-box;
}

html, body {
    font-family: $body-font;
    font-weight: 200;
    font-style: normal;
    color: $black;
    /*@include breakpoint($retina) {*/
        /*font-size: $typecsset-base-font-size * 2;*/
    /*}*/
    /*@include breakpoint($large) {*/
        /*font-size: $typecsset-base-font-size * 1.5;*/
    /*}*/
}

h1, h2, h3, 
h4, h5, h6 {
    font-family: $header-font; 
    font-weight: 400;
    font-style: normal;
}



/*
* $LINKS
******************************/

a {
    text-decoration: none;
    color: inherit;
    &:hover,
    &.active {
        color: $brand-main;
    }
}

.block-link {
    display: block;
}

.standout-link {
    border-bottom: 2px solid $black;
    &:hover {
        border-bottom: 3px solid $brand-main;
    }
}



.rule {
    border: none;
    outline: none;
    height: 1px;
    background: $grey;
    /*margin: $typecsset-base-line-height 0;*/
    margin-top: $typecsset-base-line-height;
    margin-bottom: $typecsset-base-line-height;
}

    .rule--small {
        background: $grey;
        border: none;
        height: 1px;
        margin: $typecsset-base-line-height auto;
        outline: none;
        width: 100px;
    }



/******************************
* ICONS
******************************/
.icon {
    max-width: 20px;
    width: 20px;
    vertical-align: middle;
    @include breakpoint($retina) {
        /*width: 100px;*/
    }
}



/******************************
* FONT OVERRIDES
******************************/
.fun-font {
    font-family: $fun-font;
    font-weight: $fun-font-regular-weight;
}


.alpha {
    font-size: $typecsset-h1-size;
}

.mega {
    font-size: $typecsset-h1-size * 1.5;
}

.giga {
    font-size: $typecsset-h1-size * 1.5;
}
