body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



main {
    @include container;
    flex: 1;
    min-height: 100%;
    width: 100%;
    nav {
        @include breakpoint($large) {
        }
    }

    nav + section {
        @include breakpoint($large) {
        }
    }

}


