main {
    @include container;

    nav {
        @include breakpoint($large) {
        }
    }

    nav + section {
        @include breakpoint($large) {
        }
    }

}

.rule--small {
    background: $grey;
    border: none;
    height: 1px;
    margin: $typecsset-base-line-height 0;
    outline: none;
    width: 100px;
}

