/*
* Skinny sections
******************************/
.skinny {
    margin-left: auto;
    margin-right: auto;
    padding: 0 $typecsset-base-line-height;
    @include breakpoint($large) {
        max-width: 700px;
    }
}


/*
* Article
******************************/
.article {
    margin-bottom: $typecsset-base-line-height;
}


/*
* General Section
******************************/
section {
}
