/*
* Skinny sections
******************************/
.skinny {
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($large) {
        max-width: 700px;
    }
}


/*
* Article
******************************/
.article {
    margin-bottom: $typecsset-base-line-height;
}


/*
* General Section
******************************/
section {
    >h1:first-of-type {
        /*@include typecsset-space(margin-bottom);*/
        text-align: center;
    }
}
