---
import GithubLink from "./GithubLink.astro";
import TwitterLink from "./TwitterLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<footer class="full-bleed bg-gray-2 px-8 py-8 dark:bg-gray-dark-1">
  <div
    class="container mx-auto flex max-w-2xl items-center justify-between px-8"
  >
    <ul class="flex gap-8 text-base">
      <li><GithubLink /></li>
      <li><TwitterLink /></li>
    </ul>
    <ThemeToggle />
  </div>
</footer>
