<div class="intro max-w-none space-y-12">
  <div class="flex flex-col gap-4">
    <div class="space-y-2">
      <h1 class="text-xl text-gray-11 dark:text-gray-dark-11">
        <span class="font-semibold text-gray-12 dark:text-gray-dark-12"
          >Nick Ball</span
        > – Software developer based in Portland, Oregon. Currently at Dropbox building
        the Forms application.
      </h1>
    </div>
  </div>
</div>
