<div class="intro pt-24 pb-12 space-y-4">
  <h1 class="font-special text-3xl md:text-4xl">Hi, I'm Nick Ball —</h1>
  <p class="max-w-prose text-lg md:text-lg text-light font-medium">
    I'm a web developer based out of Portland, Oregon. I work at Dropbox as a
    software engineer building the Forms web application. I help teams
    build web apps of all shapes and sizes. I love shipping practical,
    accessible experiences that improve people's lives.
  </p>
  <a class="block md:text-sm" href="/about">More about me</a>
</div>
<hr class="border-gray-6 dark:border-gray-dark-6 w-12 my-12" />
