---
import GithubLink from "../components/GithubLink.astro";
import TwitterLink from "../components/TwitterLink.astro";
---

<div class="intro space-y-8 py-36">
  <div class="space-y-4">
    <div class="space-y-2">
      <h1 class="text-4xl font-semibold md:text-6xl">Hi, I'm Nick —</h1>
      <h2 class="text-light text-2xl font-medium md:text-4xl">
        A web developer based out of Portland, Oregon.
      </h2>
    </div>
    <p class="max-w-prose text-lg md:text-2xl">
      I work at Dropbox as a software engineer building the Forms web
      application. I help teams build web apps of all shapes and sizes. I love
      shipping practical, accessible experiences that improve people's lives. <a
        href="/about">More about me</a
      >
    </p>
  </div>
  <ul class="flex space-x-8">
    <li>
      <GithubLink />
    </li>
    <li><TwitterLink /></li>
  </ul>
</div>
