---
import { Post } from "../content/config";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props as Props;

let sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<ul class="grid items-start gap-12 md:grid-cols-3">
  {
    sortedPosts.map((post) => (
      <li>
        <a
          class="group flex flex-col no-underline"
          href={`/posts/${post.slug}`}
        >
          <span class="text-light text-xs">
            {new Intl.DateTimeFormat("en-US", {
              month: "2-digit",
              day: "2-digit",
              year: "numeric",
            }).format(post.data.date)}
          </span>
          <span class="text font-semibold group-hover:text-accent-10 dark:group-hover:text-accent-dark-10">
            {post.data.title}
          </span>
          <span class="prose text-sm font-normal dark:prose-invert">
            {post.data.description}
          </span>
        </a>
      </li>
    ))
  }
</ul>
