---
import ExternalWindowIcon from "../components/ExternalWindowIcon.astro";

let { project } = Astro.props;
let { title, link } = project.data;

let { Content } = await project.render();
---

<article class="">
  <h3 class="text-2xl font-semibold leading-loose md:text-3xl">
    <a
      class="text flex gap-3 no-underline hover:underline"
      href={link}
      target="_blank"
      rel="noreferrer nofollow"
    >
      {title}
      <span class="text-light flex w-6"><ExternalWindowIcon /></span></a
    >
  </h3>
  <div class="prose ml-0 text-lg dark:prose-invert">
    <Content />
  </div>
</article>
