---
import ExternalWindowIcon from "../components/ExternalWindowIcon.astro";

let { project } = Astro.props;
let { title, link } = project.data;

let { Content } = await project.render();
---

<article class="max-w-prose space-y-1">
  <h3 class="font-semibold">
    <a
      class="text flex gap-2 font-semibold no-underline hover:text-accent-10 hover:underline dark:hover:text-accent-dark-10"
      href={link}
      target="_blank"
      rel="noreferrer nofollow"
    >
      {title}
      <span class="text-light flex w-3"><ExternalWindowIcon /></span></a
    >
  </h3>
  <div class="prose text-sm dark:prose-invert">
    <Content />
  </div>
</article>
