/*------------------------------------*\
    $RESUME
\*------------------------------------*/
$white: #f9f9f9;

body {
  background: $white;
  height: 100%;
}

section:first-child {
  margin-bottom: $base-spacing-unit*5;
  h1 {
    margin-bottom: 0;
    @include media-query(desk) {
      font-size: $giga-size;
    }
  }
  ul {
    margin: 0;
    list-style: none;
    font-style: italic;
    li {
      @include media-query(desk) {
        display: inline-block;
        &:after {
          font-style: normal;
          content: "\2666";
          display: inline-block;
          margin: 0 $base-spacing-unit/2;
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
}
