/*------------------------------------*\
    $RESUME
\*------------------------------------*/
$white: #f9f9f9;

.resume {
  background: $white;
  height: 100%;
  font-family: 'Chronicle Display A', 'Chronicle Display B'; font-weight: 400; font-style: normal;
  font-size: 1.5em;
  font-size: 1.5rem;
}

.resume {
  h1, h2, h3, h4, h5, h6,
  .alpha, .beta, .gamma, .delta {
    font-family: 'Chronicle Display A', 'Chronicle Display B'; font-weight: 700; font-style: normal;
  }

  .italic {
    font-family: inherit;
  }

  .milli {
    font-size: 1em;
    font-size: 1rem;
  }


  .wrapper {
    max-width: 960px;
  }

  .content {
    margin-top: auto;
  }

  section {
    margin-bottom: $base-spacing-unit*4;
    p {
      @include media-query(desk) {
        text-align: justify;
      }
    }
  }

  section:first-child {
    /*border-bottom: 1px solid $grey;*/
    h1 {
      font-size: $kilo-size*1.25;
      @include media-query(desk) {
        font-size: $giga-size;
      }
    }
  }
  section:first-child,
  footer {
    h1 {
      margin-bottom: 0;
    }
    ul {
      margin: 0;
      list-style: none;
      font-style: italic;
      li {
        a {
          display: block;
          padding: $small-spacing-unit 0;
          @include media-query(desk) {
            display: inline;
            padding: auto;
          }
        }
        @include media-query(desk) {
          display: inline-block;
          &:after {
            font-style: normal;
            content: "\2666";
            display: inline-block;
            margin: 0 $base-spacing-unit/2;
          }
          &:last-child:after {
            content: "";
          }
        }
      }
    }
  }
  footer {
    border-top: 1px solid $grey;
    padding: $base-spacing-unit 0;
    h1, ul {
      @include media-query(desk) {
        display:inline-block;
      }
    }
    ul {
      font-size: 1.1em;
      font-size: 1.1rem;
    }
    h1 {
      font-size: 1.4em;
      font-size: 1.4rem;
      margin-right: $base-spacing-unit;
      margin-bottom: $small-spacing-unit;
    }
  }


  .experience {
    h3 {
      margin-bottom: 0;
    }
    .experience__second {
      margin: -$base-spacing-unit 0 $base-spacing-unit*2;
    }
    @include media-query(desk) {
      .experience__first h3,
      .experience__first p {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin: auto;
      }
      .experience__first p {
        text-align: right;
      }
      .experience__second {
        margin: auto;
      }
    }
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }
}
