---
import BaseLayout from "../../layouts/Base.astro";
---

<BaseLayout
  title="Snippets | Nick Ball"
  description="Snippts by Nick Ball, Software developer based in Portland, OR."
>
  <main class="space-y-4">
    <h1 class="text-light font-semibold">Snippets</h1>
  </main>
</BaseLayout>
