{% include "./partials/head.html" %}

<body class="connect">
    <main>
    {% include "./partials/nav.html" %}

        <section class="connect skinny single-item">
            <h1 class="fun-font center">Welcome</h1>
            <article>
                {{ contents|safe }}
                <p>
                    You can find me on <a class="standout-link" href="http://github.com/npbee">Github
                    </a>, <a class="standout-link" href="http://twitter.com/npbeep">Twitter</a>,
                    or <a class="standout-link" href="mailto: nick@npbee.me">Email</a>.
                </p>
                <p>This site was built with:
                    <ul>
                        <li><a href="http://www.metalsmith.io/">Metalsmith</a></li>
                        <li><a href="https://babeljs.io/">Babel</a></li>
                        <li><a href="http://sass-lang.com/">SASS</a></li>
                        <li><a href="http://csswizardry.com/typecsset/">Typecsset</a></li>
                        <li><a href="http://gulpjs.com/">Gulp</a></li>
                    </ul>
                </p>
                <p>Thank you for looking!</p>
            </article>
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>
</html>
