{% include "./partials/head.html" %}

<body class="home">
    <main>
    {% include "./partials/nav.html" %}
        <section class="intro">
            <p class="gamma">Hello, I'm <strong>Nick Ball</strong>, a web developer currently focused on the front-end.  
            I enjoy tastefully minimal user interfaces, functional programming, and
            typography.  I'm currently working as a Front-end Engineer at
            <a href="http://loudr.fm">Loudr</a>.  Find me on <a href="http://twitter.com/npbeep">Twitter</a> or <a href="http://github.com/npbee">Github</a> or through <a href="">email</a>.
            </p>
        </section>
        <section class="posts">
            <h1>Posts</h1>
            {% for post in posts %}
            <a href="/posts/{{ post.slug || titleize(post.title) }}" class="post-summary">
                    <h2 class="header">{{ post.title }}</h2>
                    <small>{{ post.date|date('F, d Y') }}</small>
                    <em>{{ post.excerpt }}</em>
                </a>
            {% endfor %}
        </div>
    </main>
    {% include "./partials/footer.html" %}
</body>
</html>
