{% include "./partials/head.html" %}

<body class="post">
    <main>
    {% include "./partials/nav.html" %}

        <section class="project single-item">
            {% if image %}
                <img src="{{ image }}">
            {% endif %}
            <header>
                <h1 class="fun-font">{{ title }}</h1>
                <div class="excerpt">{{ excerpt }}</div>
            </header>
            <hr class="rule skinny" />
            <article>{{ contents|safe }}</article>
            <hr class="rule skinny" />
            <div class="meta">
                <ul class="meta__item">
                    <li>
                        <h2 class="meta__header">Date Posted</h2>
                        <p class="meta__value">{{ date|date('m/d/Y') }}</p>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>
</html>
