{% include "./partials/head.html" %}

<body class="post">
    <main>
    {% include "./partials/nav.html" %}

        <section class="project single-item">
            {% if image %}
                <img src="{{ image }}">
            {% endif %}
            <header>
                <h1 class="fun-font">{{ title }}</h1>
                <div class="excerpt">{{ excerpt }}</div>
                <div class="meta">
                    <em>{{ date|date('F, d Y') }}</em>
                </div>
            </header>
            <hr class="rule skinny" />
            <article>{{ contents|safe }}</article>
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>
</html>
