{% include "./partials/head.html" %}
<body class="resume">
    <main class="text-wrapper">
        <section>
            <h1>Nicholas Ball</h1>
            <ul class="contact-info">
                <li>San Francisco, CA</li>
                <li><a href="mailto:nicholaspball@gmail.com">nicholaspball@gmail.com</a></li>
                <li><a href="tel:209-380-5272">209.380.5272</a></li>
                <li><a href="https://github.com/npbee">Github</a></li>
            </ul>
        </section>

        <section>
            <h2>Background</h2>
            <p>I am an eager and motivated self-starter.  Currently a dedicated
            front-end engineer with full stack capabilities, I aim to hone my
            craft to the finest degree.</p>
        </section>

        <section>
            <h2>Work Experience</h2>

            {% for exp in experiences %}
            <div class="experience">
                <h3 class="{{ exp.class }}"><a href="{{ exp.site }}">{{ exp.company }}</a></h3>
                <div class="experience__group">
                    {% for role in exp.roles %}
                    <div class="experience__meta">
                        <strong>{{ role }}</strong><!--
                        --><em>{{ exp.dates[loop.index0] }}</em>
                    </div>
                    {% endfor %}
                </div>

                <h4 class="gamma">Description</h4>
                {% for desc in exp.description %}
                <p>{{ desc }}</p>
                {% endfor %}

                <h4 class="gamma">Highlights</h4>
                <ul>
                    {% for highlight in exp.highlights %}
                    <li>{{ highlight|safe }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}

        </section>

        <section>
            <h2>Working Knowledge</h2>

            <h3>Languages & Technologies</h3>
            <ul>
                {% for tech in technologies %}
                <li>{{ tech }}</li>
                {% endfor %}
            </ul>

            <h3>Frameworks & Libraries</h3>
            <ul>
                {% for framework in frameworks %}
                <li>{{ framework }}</li>
                {% endfor %}
            </ul>
        </section>

        <section class="education">
            <h2>Education</h2>
            <p class="no-margin-bottom">Bachelor of Science, Management Science</p>
            <em>University of California, San Diego</em>
        </section>

    </main>
</body>
</html>
