{% include "./partials/head.html" %}

<body>
    <main>
    {% include "./partials/nav.html" %}

        {% set _type = type + 's' %}
        <section class="posts center">
            <h1>{{ _type }}</h1>
            {% for collection in collections %}
            {% if loop.key === _type %}
            {% for item in collection %}
            <a href="/posts/{{ titleize(item.title) }}" class="snippet">
                <h2 class="snippet__tagline">{{ item.title }}</h2>
                <span class="snippet__item">
                    <span>{{ item.excerpt }}</span>
                </span>
            </a>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </section>
    </main>
    
    {% include "./partials/footer.html" %}
    {% include "./partials/scripts.html" %}
</body>
</html>
