<section class="section">
    <article>
        <div class="page-nav">
          <% @posts.each do |post| %>
            <a class="blog__excerpt" href="<%= post_path(post) %>">
              <span class="post-meta post-date"><%= post.created_at.strftime('%m.%d.%Y') %></span>
              <h2 class="post-meta"><%= post.title %></h2>
              <p class="post-meta italic"><%= post.body[0..4] %></p>
            </a>
          <% end %>
        </div>
    </article>
</section>

