/*------------------------------------*\
    $DROPDOWN
\*------------------------------------*/
.dropdown {
  position: relative;
  cursor: pointer;
  > ul {
    background: $white;
    border-radius: 3px;
    margin: 0;
    min-width: 100px;
    padding: 0;
    right: 0;
    &:before,
    &:after {
      @include breakpoint($large) {
        border-top: $base-spacing-unit solid transparent;
        border-bottom: $base-spacing-unit solid $white;
        border-left: $base-spacing-unit solid transparent;
        border-right: $base-spacing-unit solid transparent;
        content: "";
        display: block;
        right: $base-spacing-unit;
        top: -($base-spacing-unit * 2);
        position: absolute;
      }
    }
    &:after {
      top: -$base-spacing-unit * 2 - 1;
      border-bottom: $base-spacing-unit solid $black;
      z-index: -1;
    }
    @include breakpoint($large) {
        top: 125%;
        display: none;
        position: absolute;
        border: 1px solid $black;
        white-space: nowrap;
    }
    li {
      display: block;
    }
    a {
      display: block;
      line-height: inherit;
      text-align: right;
      @include breakpoint($large) {
        padding-left: 0;
        padding: $base-spacing-unit;
        &:hover {
          background: $brand-main;
          color: $white;
        }
      }
    }
   }
 }
 
 .dropdown:hover ul {
   display: block;
}
