/******************************
* $FOOTER
******************************/
$anim: 300ms;

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    margin-top: $base-spacing-unit * 4;
    padding: $base-spacing-unit * 2;
    &:before {
        transition: width $anim, background $anim;
        content: '';
        width: 100px;
        height: 1px;
        background: $grey;
        margin: 0 auto;
        display: block;
    }
    &:hover {
        &:before {
            background: $brand-main;
            width: 150px;
        }
    }
    .social {
        display: flex;
        flex: 1;
        padding: $base-spacing-unit * 2 0;
        width: 100%;
        @include breakpoint($large) {
            max-width: 200px;
        }
    }
    .social a {
        flex: 1;
        @include breakpoint($large) {
            display: inline-block;
        }
    }
}
