/******************************
* FORMS
******************************/
form {
    width: 100%;
}

    .form-row {
        margin-bottom: $typecsset-base-line-height;
        label {
            display: block;
            font-size: $typecsset-h2-size;
        }
        input[type="text"],
        textarea {
            border: 1px solid $grey;
            border-radius: 3px;
            display: block;
            font-size: $big-font;
            font-family: $body-font;
            padding: $base-spacing-unit;
            width: 100%;
        }
        textarea {
            min-height: 500px;
        }
    }

.checkbox {
    position: relative;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}

.checkbox input[type="checkbox"],
.checkbox label::before {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 0;
    margin-top: -25px;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background: $error;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 80px;
    vertical-align: top;
    cursor: pointer;
    color: rgba($black, 0.7);
    transition: color 0.3s;
    &:before {
        content: '';
        border: 4px solid $black;
        transition: opacity 0.3s, background 200ms;
    }
}

.checkbox
input[type="checkbox"]:checked
+ label {
    color:
    $black;
}

.checkbox
input[type="checkbox"]:checked
+ label::before
{
    opacity:
    0.8;
    background: $success;
}
