$settings: (
    display: table
);

@mixin grid-item($span) {
    display: table-cell;
    vertical-align: middle;
    width: span($span of 12);
}

.grid {
    /*@include container;*/
    display: map-get($settings, display);
}



.grid--one-quarter {
    @include breakpoint($large) {
        @include grid-item(3);
    }
}

.grid--three-quarters {
    @include breakpoint($large) {
        display: table-cell;
        vertical-align: middle;
        /*@include span(9 of 12 last);*/
        width: span(9 of 12);
    }
}

.grid--one-half {
    @include breakpoint($large) {
        display: table-cell;
        @include span(6 of 12);
    }
}

.grid--one-half-last {
    @include breakpoint($large) {
        display: table-cell;
        /*@include span(6 of 12 last);*/
        width: span(6 of 12 last);
        vertical-align: middle;
    }
}


.grid--push-one-quarter {
    @include breakpoint($large) {
        @include push(3 of 12);
    }
}
