$settings: (
    display: table
);

@mixin grid-item($span) {
    @include span($span of 12);
    line-height: 1;
}

.grid {
    @include container;
    /*display: map-get($settings, display);*/
}

.grid--centered {
    @include breakpoint($large) {
        .grid--left {
            text-align: right;
        }
    }
}



.grid--1-4 {
    @include breakpoint($large) {
        @include grid-item(3);
    }
}

.grid--1-2 {
    @include breakpoint($large) {
        @include grid-item(6);
    }
}

.grid--push-1-4 {
    @include breakpoint($large) {
        @include push(3 of 12);
    }
}

.grid--last {
    @include breakpoint($large) {
        @include last;
    }
}
