/******************************
* META
******************************/
.meta {
    @extend .skinny;
    display: flex;
    font-size: $small-font;
}

.meta__item {
    /*background: rgba($grey, 0.2);*/
    border-radius: $round;
    flex: 1;
    list-style: none;
    margin: 0;
    /*padding: $base-spacing-unit;*/
    /*li:after {*/
        /*background: $grey;*/
        /*content: '';*/
        /*display: block;*/
        /*height: 1px;*/
        /*margin-top: $base-spacing-unit;*/
        /*margin-bottom: $base-spacing-unit;*/
        /*width: 30px;*/
        /*@include breakpoint($large) {*/
            /*display: none;*/
        /*}*/
    /*}*/
}

.meta__header {
    font-size: $small-font;
    margin-bottom: $base-spacing-unit / 2;
}

.meta__value {
    font-style: italic;
    margin-bottom: $base-spacing-unit;
}
