/******************************
* META
******************************/
.meta {
    display: flex;
    font-family: $header-font;
    font-size: $small-font;
    flex-direction: column;
    margin-top: $base-spacing-unit;
}

.meta__item {
    align-items: center;
    display: flex;
}

.meta__header {
    font-size: $small-font;
    margin-bottom: 0;
    padding-right: $base-spacing-unit;
}

.meta__values {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding-right: $base-spacing-unit/2;
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
}
