/******************************
* $NAVIGATION
******************************/
.main-nav {
    align-items: center;
    display: flex;
    font-size: $typecsset-base-font-size * 2;
    height: $nav-height * 2;
    justify-content: space-between;
    padding-bottom: $typecsset-base-line-height;
    @include breakpoint($large) {
        font-size: $typecsset-base-font-size;
        height: $nav-height;
        justify-content: flex-start;
    }
    a {
        text-align: center;
        width: 20%;
        @include breakpoint($large) {
            padding-left: $base-spacing-unit;
            padding-right: $base-spacing-unit;
            text-align: left;
            width: auto;
        }
    }
    .site-logo {
        z-index: 2;
        img {
            align-self: flex-start;
            @include breakpoint($large) {
                max-width: 35px;
            }
        }
        @include breakpoint($large) {
            padding-right: $base-spacing-unit;
            padding-left: 0;
        }
    }
    .main-nav__toggle {
        padding-right: 0;
        z-index: 2;
        @include breakpoint($large) {
            display: none;
        }
    }
    .icon {
        max-width: none;
        width: 60px;
        @include breakpoint($large) {
            max-width: 20px;
        }
    }
}


.main-nav__break-right {
    @include breakpoint($large) {
        margin-left: auto;
    }
}



.main-nav__social {
    display: none;
    margin-left: -$base-spacing-unit;
    position: absolute;
    left: 80%;
    text-align: center;
    top: $nav-height * 2;
    width: 20%;
    a {
        display: block;
        width: auto;
        @include breakpoint($large) {
            display: inline;
        }
    }
    @include breakpoint($large) {
        display: block;
        margin-left: auto;
        position: static;
        width: auto;
    }
}





.main-nav--open {
    .main-nav__social {
        display: block;
    }
}

.main-nav--closed {
}
