.mobile-nav {
    display: table;
    width: 100%;
    .site-logo,
    .mobile-nav__toggle {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    .site-logo {
        
        img {
            max-width: 40px;
        }
    }
    .mobile-nav__toggle {
        text-align: right;
    }
    @include breakpoint($large) {
        display: none;
    }
}
