.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $typecsset-base-line-height;
    @include breakpoint($large) {
        justify-content: flex-start;
    }
    .site-logo {
        padding-right: $base-spacing-unit;
        img {
            align-self: flex-start;
            max-width: 35px;
        }
    }
    .main-nav__menu {
        display: none;
        @include breakpoint($large) {
            display: block;
        }
    }
    .main-nav__toggle {
        @include breakpoint($large) {
            display: none;
        }
    }
    a:not(.site-logo) {
        padding: 0 $base-spacing-unit;
    }
    .main-nav__social {
        margin-left: auto;
    }
}
