/******************************
* $NAVIGATION
******************************/
.main-nav {
    align-items: center;
    display: flex;
    height: $nav-height * 2;
    justify-content: flex-start;
    /*padding-bottom: $typecsset-base-line-height;*/
    /*@include breakpoint($retina) {*/
        /*height: $nav-height * 4;*/
    /*}*/
    @include breakpoint($large) {
        /*font-size: $typecsset-base-font-size;*/
        height: $nav-height;
    }
    a {
        @include breakpoint($large) {
            padding-left: $base-spacing-unit;
            padding-right: $base-spacing-unit;
            text-align: left;
            width: auto;
        }
    }
    .site-logo {
        display: block;
        text-align: right;
        order: 2; // Put the site logo to the right on mobile
        width: 100%;
        /*z-index: 2;*/
        img {
            align-self: flex-start;
            @include breakpoint($large) {
                max-width: 35px;
            }
        }
        @include breakpoint($large) {
            display: inline;
            line-height: $nav-height * 2;
            order: 0;
            padding-right: $base-spacing-unit;
            padding-left: 0;
            width: auto;
        }
    }
    .main-nav__toggle {
        display: block;
        padding-right: $base-spacing-unit * 2;
        width: 25%;
        z-index: 2;
        @include breakpoint($large) {
            display: none;
        }
    }
    .icon {
        max-width: none;
        width: 60px;
        @include breakpoint($large) {
            max-width: 20px;
        }
        /*@include breakpoint($retina) {*/
            /*width: 80px;*/
        /*}*/
    }
    .dropdown {
        display: none;
        @include breakpoint($large) {
            display: block;
        }
    }
}




.main-nav__break-right {
    @include breakpoint($large) {
        margin-left: auto;
    }
}


.main-nav__menu {
    font-size: $typecsset-h1-size;
    left: 0;
    position: absolute;
    top: $nav-height * 2 + $base-spacing-unit;
    width: 100%;
    z-index: -1;
    /*@include breakpoint($retina) {*/
        /*font-size: $typecsset-base-font-size * 6;*/
    /*}*/
    @include breakpoint($large) {
        animation: none;
        font-size: inherit;
        opacity: 1;
        position: static;
        width: auto;
    }
    > a {
        @include animation-repeater(3, slide-up, $animation-speed, 100,
        forwards);
        &:first-child {
            border-top: 1px solid $grey;
            @include breakpoint($large) {
                border: none;
            }
        }
        border-bottom: 1px solid $grey;
        display: block;
        opacity: 0;
        padding: $base-spacing-unit;
        width: 100%;
        @include breakpoint($large) {
            @include animation-repeater(3, none, none, 100,
            forwards);
            border: none;
            display: inline;
            opacity: 1;
            width: auto;
        }
    }
}

.main-nav__social {
    animation: slide-out-to-left $animation-speed forwards;
    display: flex;
    width: 100%;
    @include breakpoint($large) {
        animation: none;
        display: block;
        opacity: 1;
        width: auto;
    }
    > a {
        flex: 1;
        text-align: center;
        @include breakpoint($large) {
            display: inline-block;
            width: auto;
        }
    }
}



/******************************
* OPEN NAVIGATION
******************************/
main > section {
    transition: opacity $animation-speed;
    z-index: 1;
}

.main-nav--closed {
    .main-nav__menu a {
        opacity: 1;
        z-index: -1;
        @include breakpoint($large) {
            z-index: 1;
        }
    }
}

.main-nav--open {
    .main-nav__social,
    .main-nav__menu {
        z-index: 1;
    }
    .main-nav__menu a {
        @include animation-repeater(3, slide-down, $animation-speed, 100,
        forwards);
    }
    .main-nav__social {
        animation: slide-in-from-left 200ms forwards;
    }
    .site-logo {
        display: none;
    }
    > section {
        opacity: 0.1;
        position: relative; // Need this for the z-index to work
        z-index: -1;
    }
}
