/******************************
* SINGLE ITEM
* This is for long form items 
* as seen in a post or project
******************************/
.single-item {
    > article > p,
    > article > ul {
    }
    img {
        display: block;
        margin: $typecsset-base-line-height auto;
        max-width: 100%;
    }
}

/*
* Single item sections
******************************/
.single-item {
    margin: 0 auto;
    article {
        > :not(.full-width) {
            @extend .skinny;
        }
        pre {
            @extend .full-width;
        }
    }
}

.single-item header {
    @extend .skinny;
    align-items: center;
    @include breakpoint($large) {
        flex-direction: row;
    }
    img {
        display: block;
        margin: $typecsset-base-line-height auto;
    }
    .aside-1,
    .aside-2 {
        text-align: center;
        width: 100%;
        li:after {
            @include breakpoint($large) {
                margin-left: inherit;
                margin-right: inherit;
            }
        }
        @include breakpoint($large) {
            text-align: inherit;
            width: auto;
        }
    }
    .aside-1 {
        @include breakpoint($large) {
            order: 1;
            li:after {
                margin-left: auto;
            }
        }
    }
    .aside-2 {
        order: 3;
    }
    h1 {
        @extend .giga;
        line-height: 1;
        margin-bottom: $base-spacing-unit/2;
        @include breakpoint($large) {
            min-width: 700px;
            order: 2;
        }
    }
    .excerpt {
        font-family: $header-font;
        margin-bottom: $base-spacing-unit/2;
    }
}
