/******************************
* SINGLE ITEM
* This is for long form items 
* as seen in a post or project
******************************/
.single-item {
    > article > p,
    > article > ul {
        /*font-size: $big-font;*/
        /*@include breakpoint($retina) {*/
            /*font-size: $typecsset-base-font-size * 2.5;*/
        /*}*/
        /*@include breakpoint($large) {*/
            /*font-size: inherit;*/
        /*}*/
    }
    img {
        max-width: 100%;
    }
}

/*
* Single item sections
******************************/
.single-item {
    margin: 0 auto;
    article {
        @extend .skinny;
    }
}

.single-item header {
    /*background: rgba($grey, 0.2);*/
    align-items: center;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: $typecsset-base-line-height;*/
    @include breakpoint($large) {
        flex-direction: row;
    }
    .aside-1,
    .aside-2 {
        /*flex: 1;*/
        text-align: center;
        width: 100%;
        li:after {
            /*margin-left: auto;*/
            /*margin-right: auto;*/
            @include breakpoint($large) {
                margin-left: inherit;
                margin-right: inherit;
            }
        }
        @include breakpoint($large) {
            text-align: inherit;
            width: auto;
        }
    }
    .aside-1 {
        /*order: 2;*/
        @include breakpoint($large) {
            order: 1;
            /*text-align: right;*/
            li:after {
                margin-left: auto;
            }
        }
    }
    .aside-2 {
        order: 3;
    }
    h1 {
        @extend .skinny;
        /*flex: 2;*/
        /*margin-bottom: 0;*/
        /*order: 1;*/
        /*text-align: center;*/
        @include breakpoint($large) {
            min-width: 700px;
            order: 2;
        }
    }
}
