/******************************
* SINGLE ITEM
* This is for long form items 
* as seen in a post or project
******************************/
.single-item {
    > article > p,
    > article > ul {
        /*font-size: $big-font;*/
        @include breakpoint($retina) {
            font-size: $typecsset-base-font-size * 2.5;
        }
        @include breakpoint($large) {
            font-size: inherit;
        }
    }
    img {
        max-width: 100%;
    }
}
