.snippet {
    display: block;
    margin-bottom: $typecsset-base-line-height;
    text-align: center;
    @include breakpoint($large) {
        text-align: left;
    }
    .snippet__tagline, 
    .snippet__item {
        @include breakpoint($retina) {
            font-size: $typecsset-h2-size;
        }
        @include breakpoint($large) {
            font-size: $typecsset-h5-size;
        }
    }
    .snippet__tagline {
        margin-bottom: 0;
    }
    .snippet__item {
        font-style: italic;
    }
}
