/******************************
* TABS
******************************/
.tabs-navigation {
    box-shadow: inset 0 -2px $grey;
    display: flex;
    justify-content: flex-start;
    a {
        box-shadow: inset 0 -2px lighten($black, 40%);
        color: lighten($black, 40%);
        display: block;
        flex: 1;
        font-family: $header-font;
        font-weight: 700;
        letter-spacing: 1px;
        padding: $base-spacing-unit/2 $base-spacing-unit;
        text-align: left;
        text-transform: uppercase;
        transition: color 300ms, box-shadow 300ms;
        &:not(.tabs-menu-item--active):hover {
            box-shadow: inset 0 -2px $black;
            color: $black;
        }
        @include breakpoint($large) {
            max-width: 200px;
        }
    }
    .tabs-menu-item--active {
        box-shadow: inset 0 -2px $brand-main;
        color: $brand-main;
    }
}


.tabs-menu-item {
}

.tabs-menu-item a {
}


.tab-panel {
    padding: $base-spacing-unit;
}
