.tagline {
    font-family: $fun-font;
    font-weight: $fun-font-regular-weight;
    font-size: $typecsset-h1-size;
    text-align: center;
    .tagline__item {
        margin-bottom: 0;
        line-height: 1;
    }
    @include breakpoint($large) {
        font-size: $typecsset-h2-size;
        text-align: left;
    }
}
