/******************************
* TAGS
******************************/
.tag-list {
    display: flex;
    margin-top: $base-spacing-unit;
    .tag {
        background: $yellow;
        border: 1px solid $black;
        border-radius: 3px;
        cursor: pointer;
        margin-right: $base-spacing-unit;
        padding-right: $base-spacing-unit;
        transition: color 300ms, text-decoration 300ms;
        min-width: 100px;
        &:before {
            background: $black;
            color: $white;
            content: "×";
            display: inline-block;
            margin-right: 5px;
            padding: 0 $base-spacing-unit;
        }
    }
    .tag--delete {
        color: $error;
        text-decoration: line-through;
    }
}

.tag-list--comma {
    > a {
        /*font-size: $small-font;*/
        &:after {
            content: ",\00a0";
            display: inline-block;
        }
        &:last-child:after {
            content: "";
        }
    }
}
