.tagline {
    font-family: $fun-font;
    font-weight: $fun-font-regular-weight;
    font-size: $typecsset-h2-size;
    text-align: center;
    @include breakpoint($large) {
        text-align: left;
        .tagline__item {
            margin-bottom: $base-spacing-unit;
        }
    }
}
