---
import BaseLayout from "./Base.astro";

export interface Props {
  title: string;
  description: string;
  variant?: "with-nav" | "bare";
}

let { title, description } = Astro.props as Props;
---

<BaseLayout {title} {description}>
  <div class="mb-12 ">
    <slot />
  </div>
</BaseLayout>
