/*------------------------------------*\
    $FORMS
\*------------------------------------*/

.form-fields > li {
  margin-bottom: $base-spacing-unit;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  padding: $small-spacing-unit*2;
  width: 100%;
  border-radius: $brand-round;
  border: 1px solid $grey;
  @include transition(border 100ms);
  &:focus {
    border: 1px solid $brand-main;
  }
}


.checkbox {
  position: relative;
  margin-bottom: $base-spacing-unit;
}

.checkbox + .button {
  float: right;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.checkbox input[type="checkbox"],
.checkbox label::before {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background: $error;
}

.checkbox label {
  display: inline-block;
  position: relative;
  padding: 0 0 0 80px;
  vertical-align: top;
  cursor: pointer;
  color: rgba($black, 0.7);
  @include transition(color 0.3s);
  &:before {
    content: '';
    border: 4px solid $black;
    @include transition(opacity 0.3s, background 200ms);
  }
}

.checkbox input[type="checkbox"]:checked + label {
  color: $black;
}

.checkbox input[type="checkbox"]:checked + label::before {
  opacity: 0.8;
  background: $green;
}

