---
layout: default
title: Posts | Nick Ball
description: List of blog posts 
---

{% macro Post(item) %}
<li class="mb-4">
  <a class="text-lg md:text-xl" href="{{ item.url }}">
    {{ item.data.title }}
  </a>
  <time value="{{ item.date }}" class="text-sm block">{{ item.date | readableDate }}</time>
</li>
{% endmacro %}

<section>
  {% H1 %}
  Writing.
  {% endH1 %}
  {% SummaryText %}
  Various thoughts on web technologies and learnings from my own experiences.
  {% endSummaryText %}
</section>

<hr class="my-8 w-8" />

<section class="mb-16">
  <ul>
  {%- for item in collections.post | reverse -%}
  {{ Post(item) }}
  {%- endfor -%}
  </ul>
</section>
