<div class="mobile-header" id="mobile-header">
    <a href="/"><%= image_tag('logo.svg', :alt => 'Kinmill logo', :class => 'site-logo--small') %></a>
    <a href="#nav" class="toggle-container" id="toggle-container">
        <span id="menu-toggle" class="menu-toggle"></span>
    </a>
</div>